<footer class="footer">
  <div class="footer-top">
    <div class="footer-col">
      <h3 class="footer-title">Về Chúng Tôi</h3>
      <p>
        Tiệm Sách Thư Hiên - Nơi lưu giữ, nâng niu và lan tỏa những giá trị tri
        thức cũ đầy ký ức.
      </p>
      <div class="social-icons">
        <a
          href="https://www.facebook.com/share/1CxJ4Fkf3m/?mibextid=LQQJ4d"
          target="_blank"
          title="Facebook"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          href="https://www.instagram.com/tiemsachthuhien_m?igsh=MWpkZzB4bWVuMHlkeA%3D%3D&utm_source=qr"
          target="_blank"
          title="Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.youtube.com/" target="_blank" title="YouTube"
          ><i class="fab fa-youtube"></i
        ></a>
        <a href="https://www.tiktok.com/" target="_blank" title="TikTok"
          ><i class="fab fa-tiktok"></i
        ></a>
      </div>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">Khám Phá</h3>
      <ul>
        <li><a href="category.html">Danh mục sách tuyển chọn</a></li>
        <li><a href="buyback.html">Dịch vụ bán lại sách cũ</a></li>
        <li><a href="blog.html">Góc đọc sách &amp; Tin tức</a></li>
        <li><a href="about.html">Câu chuyện Thư Hiên</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">Quy Định & Chính Sách</h3>
      <ul>
        <li><a href="policy.html#chinh-sach-doi-tra">Chính sách đổi trả hàng</a></li>
        <li>
          <a href="policy.html#huong-dan-mua-hang">Hướng dẫn mua sách trực tuyến</a>
        </li>
        <li>
          <a href="policy.html#phuong-thuc-thanh-toan">Phương thức thanh toán an toàn</a>
        </li>
      </ul>
    </div>

    <div class="footer-col">
      <h3 class="footer-title">Thông Tin Liên Hệ</h3>
      <ul class="contact-info">
        <li>
          <i class="fas fa-map-marker-alt"></i> Số 123 phố Hoàn Kiếm, quận Hoàn
          Kiếm, Hà Nội
        </li>
        <li><i class="fas fa-phone-alt"></i> 0901 234 567</li>
        <li><i class="fas fa-envelope"></i>thuhien@gmail.com</li>
        <li>
          <i class="fas fa-clock"></i> 08:00 - 21:00 (Mở cửa tất cả các ngày
          trong tuần)
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <img
      src="assets/images/logo.jpg"
      alt="Logo Thư Hiên nhỏ"
      class="footer-bottom-logo"
    />
    <div class="footer-bottom-noi">
      <p>
        <strong>Tiệm Sách Thư Hiên</strong> - Không gian văn hóa tri thức Việt
      </p>
      <p>
        Giấy phép ĐKKD số: 01M8012345 do Ủy ban nhân dân Quận Hoàn Kiếm cấp.
      </p>
      <p>&copy; 2026 Tiệm Sách Thư Hiên. Tất cả quyền được bảo lưu.</p>
    </div>
  </div>
</footer>
